Placeholder {
    height: 100%;
}
#bot {
    height: 95%;
    width: 100%;
    layout: grid;
    grid-size: 8 8;
}

#p1 {
    row-span: 8;
    column-span: 2;
    border: round;
}

#p2 {
    row-span: 4;
    column-span: 6;
}

#p3 {
    row-span: 4;
    column-span: 6;
}
